*
{
  margin: 0;
  padding: 0;
}
h1
{
  font-size: 30px;
}
p
{
  font-weight: 300;
  font-size: 23px;
}
.siteButton p, input
{
  font-size: 20px;
}


.main
{
  height: 100vh;
  background-color: #DBDBDB;
}
.elipse
{
  margin-top: -2%;
  width: 100%;
}
.container
{
  position: absolute;
  top: 5%;
  width: 55%;
  margin-left: 22.5%;
  text-align: center;
}
.logo
{
  width: 35%;
}
.logo, h1, p
{
  margin-bottom: 3%;
}
form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 20%;
  margin-top: 5%;
}
input
{
  padding: 2%;
  border-radius: 5px;
  border-width: 1px;
}
input:focus
{
  margin-bottom: -0.6%;
  border: solid;
  border-color: #FF7708;
}
.buttonContent
{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  padding: 0 15%;
  align-items: center;
}
.buttonContent p
{
  margin: 0;
}
button
{
  width: 70%;
  margin: 0 15%;
}
.siteButton
{
  cursor: pointer;
  border: none;
  padding: 2%;
  margin-top: 3%;
  border-radius: 5px;
  border-width: 1px;
  background-color: #00B265;
  color: white;
}
.cCards
{
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 50%;
  margin-top: 0.3%;
  margin-left: 25%;
}



@media (max-width: 1440px) {
  .cCards
  {
    margin-top: 3.8%;
    margin-left: 25%;
    margin-right: 0;
    width: 50%;
  }
  .logo
  {
    width: 30%;
  }
  h1
  {
    font-size: 25px;
  }
  p
  {
    font-size: 17px;
  }
  .siteButton p, input
  {
    font-size: 15px;
  }
}
@media (max-width: 1368px) {
  .cCards
  {
    margin-top: 17%;
  }
}
@media (max-width: 1024px) {
  .elipse
  {
    margin-top: 0%;
  }
  .cCards
  {
    margin-top: 20.4%;
    width: 60%;
    margin-left: 20%;
    margin-right: 0;
  }
  .logo
  {
    width: 30%;
  }
  h1
  {
    font-size: 23px;
  }
  p
  {
    font-size: 15px;
  }
  .siteButton p, input
  {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .elipse
  {
    margin-top: -26.4%;
    width: 100%;
  }
  .container
  {
    width: 90%;
    margin-left: 5%;
  }
  form
  {
    width: 90%;
    margin: 10% 5%;
  }
  .cCards
  {
    width: 90%;
    margin: 0% 5%;
    margin-top: 33%;
    margin-bottom: 0;
  }
  h1
  {
    font-size: 25px;
  }
  p
  {
    font-size: 18px;
  }
  .siteButton p, input
  {
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  .cCards
  {
    margin-top: 33%;
  }
  h1
  {
    font-size: 23px;
  }
  p
  {
    font-size: 15px;
  }
  .siteButton p, input
  {
    font-size: 12px;
  }
  form
  {
    width: 80%;
    margin-top: 0;
  }
}
@media (max-width: 425px) {
  .logo
  {
    width: 60%;
  }
  h1
  {
    font-size: 22px;
  }
  p
  {
    font-size: 16px;
  }
  .siteButton p, input
  {
    font-size: 11px;
  }
  .elipse
  {
    margin-top: -5%;
  }
  .cCards
  {
    margin-top: 5.1%;
    margin-left: 0%;
    margin-right: 0;
    width: 100%;
  }
  form
  {
    margin-top: 10%;
    width: 90%;
  }
  button
  {
    width: 100%;
    margin-left: 0;
  }
  input, button
  {
    padding: 4% !important;
  }
}
@media (max-width: 280px) {
  .cCards
  {
    margin-top: 57%;
  }
  h1
  {
    font-size: 18px;
  }
  p
  {
    font-size: 12px;
  }
  .siteButton p, input
  {
    font-size: 8px;
  }
  form
  {
    margin-left: 5%;
  }
}